body {
	background-color: #ecf0f1;
}

main {
	max-width: 80%;
	margin: 0 auto;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

.race-elements {
	width: 800px;
}

.race-info {
	width: 500px;
}

.name-form {
	margin-bottom: 10px;
}

#paragraph {
	width: 500px;
	height: 200px;
	border: 1px solid #bdc3c7;
	padding: 5px;
	-webkit-box-shadow: 0px 3px 13px -3px #888888;
	-moz-box-shadow: 0px 3px 13px -3px #888888;
	box-shadow: 0px 3px 13px -3px #888888;
	clear: left;
	clear: right;
	background-color: white;
}

#typebox {
	width: 500px;
	height: 50px;
	border: 1px solid #bdc3c7;
	margin-top: 20px;
	font-size: 20px;
	padding: 5px;
	-webkit-box-shadow: 0px 3px 13px -3px #888888;
	-moz-box-shadow: 0px 3px 13px -3px #888888;
	box-shadow: 0px 3px 13px -3px #888888;
}

#timer-text, #wpm-text {
	font-size: 20px;
	display: inline;
}

#wpm-text {
	float: left;
}

#timer-text {
	float: right;
}

.input-incorrect {
	background-color: #e74c3c
}


.correct {
	color: green;
	text-decoration: underline;
}


.incorrect {
	color: red;
	text-decoration: underline;
}

.new-game-button {
	display: block;
	margin-bottom: 10px;	
}


ul {
	margin: 0;
}


.navbar-default {
	background-color: #e74c3c;
	border: 0;
	border-radius: 0;
}

.navbar-default, .navbar-brand {
	color: white !important;
}

.title {
	font-family: 'Permanent Marker', cursive;
}

.navbar-nav>li>a {
	color: white !important;
}

#home-title {
	font-family: 'Rubik', sans-serif;
	font-size: 40px;
	margin-bottom: 20px;
}

#home-intro {
	font-size: 20px;
	margin-bottom: 10px;
}

.username {
	display: inline;
	position: relative;
	bottom: 8px;
	margin-left: 8px;
}

.progress {
	margin: 2px;
	display: inline-block;
}


.position {
	font-size: 20px;
}

.waiting-msg {
	font-size: 30px;
}

#username {
	margin-bottom: 30px;
}
