main {
	max-width: 80%;
	margin: 0 auto;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

#paragraph {
	width: 500px;
	height: 200px;
	border: 1px solid black;
	padding: 5px;
}

#typebox {
	width: 500px;
	height: 50px;
	border: 1px solid black;
	margin-top: 20px;
	font-size: 20px;
	padding: 5px;
}

#timer-text, #wpm-text {
	font-size: 20px;
}

.input-incorrect {
	background-color: #e74c3c
}


.correct {
	color: green;
	text-decoration: underline;
}


.incorrect {
	color: red;
	text-decoration: underline;
}

.new-game-button {
	display: block;
	margin-bottom: 5px;	
}

.username {
	display: inline;
	position: relative;
	bottom: 8px;
	margin-left: 8px;
}

.progress {
	margin: 2px;
	display: inline-block;
}
