html {
	height: 100%;
}

/*body {
	height: 100%;
	background: linear-gradient(180deg, #403F42 50%, #FAF8F9 50%);
}*/

main {
	max-width: 80%;
	margin: 0 auto;
}

ul {
	list-style-type: none;
	padding-left: 0;
}


.race-elements {
	width: 800px;
}

.race-info {
	width: 500px;
}

.name-form {
	margin-bottom: 10px;
}

#paragraph {
	width: 500px;
	height: 200px;
	border: 1px solid #bdc3c7;
	padding: 5px;
	-webkit-box-shadow: 0px 3px 13px -3px #888888;
	-moz-box-shadow: 0px 3px 13px -3px #888888;
	box-shadow: 0px 3px 13px -3px #888888;
	clear: left;
	clear: right;
	background-color: white;
}

#typebox {
	width: 500px;
	height: 50px;
	border: 1px solid #bdc3c7;
	margin-top: 20px;
	font-size: 20px;
	padding: 5px;
	-webkit-box-shadow: 0px 3px 13px -3px #888888;
	-moz-box-shadow: 0px 3px 13px -3px #888888;
	box-shadow: 0px 3px 13px -3px #888888;
}

#timer-text, #wpm-text {
	font-size: 20px;
	display: inline;
}

#wpm-text {
	float: left;
}

#timer-text {
	float: right;
}

.input-incorrect {
	background-color: #e74c3c
}


.correct {
	color: green;
	text-decoration: underline;
}


.incorrect {
	color: red;
	text-decoration: underline;
}

.new-game-button {
	display: block;
	margin-bottom: 10px;	
}


ul {
	margin: 0;
}


.brand-hide {
	display: none;
}

.navbar-brand {
	/*height: 50px;*/
	line-height: 50px;
}

#logo {
	width: 45px;
	margin-top: 20px;
	margin-right: 20px;
}

.navbar-nav > li > a {
   line-height: 40px;
   font-size: 15px;
   color: white !important;
}

.title {
	font-size: 35px;
	/*margin-left: 30px !important;*/
}

.title:hover {
	color: #e74c3c !important;
}

.navbar-default {
	background-color: #403F42;
	border: 0;
	border-radius: 0;
}

.navbar-default, .navbar-brand {
	color: white !important;
}

.title {
	font-family: 'Permanent Marker', cursive;
}

#home-title-container {
	height: 85px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	position: absolute;
	top: calc(40% - 100px);
	/*top: -webkit-calc(40% - 120px);
	top: -moz-calc(40% - 120px);
	top: -o-calc(40% - 120px);*/
	margin: 0;
	/*width: 600px;*/
}

#home-title {
	font-family: 'Permanent Marker', sans-serif;
	display: inline;
	color: #eeeeee;
	font-size: 75px;
	float: left;
	margin: 0;
}


#home-logo {
	width: 80px;
	margin-right: 20px;
	float: left;
	margin-top: 6px;
}

#home-intro {
	color: #403F42;
	font-size: 20px;
	margin-bottom: 10px;
}

#home-bottom-container {
	position: absolute;
	top: calc(40% + 40px);
	/*top: -webkit-calc(40% - 120px);
	top: -moz-calc(40% - 120px);
	top: -o-calc(40% - 120px);*/
}

.username {
	display: inline;
	position: relative;
	bottom: 8px;
	margin-left: 8px;
}

.progress {
	margin: 2px;
	display: inline-block;
}


.position {
	font-size: 20px;
}

.waiting-msg {
	font-size: 30px;
}

#profile-username {
	margin-bottom: 30px;
}
