<section>
	<section ng-controller="RacesController as races"> 

	<div class='loading' ng-show='games.waitingToJoin'>
		<p ng-show='games.gameInProgress'>Game in progress</p>
		<p class='waiting-msg'>Waiting to join...</p>
		<img src='http://media.giphy.com/media/JBeu9q9LC1Kve/giphy.gif' style='width: 40px'>
	</div>

	<div id='race-nav-contents' ng-hide='games.waitingToJoin || games.gameRunning'>
		<form class='name-form' ng-submit='games.updateUsername()' ng-hide='games.loggedIn'>
			<input id='name-form-textbox' type='text' placeholder='Enter name' ng-model='games.tempName' ng-disabled='games.gameRunning'>
			<input id='update-name-button' class='grey-button' type='submit' value='Update'>
		</form>
		<input class='new-game-button grey-button' ng-click='games.newGame()' type='button' value='Start racing'>
	</div>

	<div class='clearing'></div>

	<div class='race-elements' ng-hide='games.waitingToJoin'>

		

		<div class="progress" style="width: 500px;">
		    <div class="progress-bar" role="progressbar" aria-valuenow="{{games.myData.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{games.myData.percentage}}%">
		    	<span class='progress-bar-text'>{{games.myData.wpm}}<span>
		    </div>
		    <p class='username'><strong>{{games.name}}</strong> <span class='position'>{{games.myData.position}}</span></p>
		</div>
		

		<ul>
			<li ng-repeat='(id,data) in games.playerData'>
				<div class="progress" style="width: 500px;">
				    <div class="progress-bar" role="progressbar" aria-valuenow="{{data.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{data.percentage}}%">
				    	<span class='progress-bar-text'>{{data.wpm}}</span>
				    </div>
				    <p ng-show='data.registered' class='username'><a href='/users/{{data.userId}}'>{{data.name}}</a> <span class='position'>{{data.position}}</span></p>
				    <p ng-hide='data.registered' class='username'>{{data.name}} <span class='position'>{{data.position}}</span></p>
				</div>
				
			</li>
		</ul>

		<div class='text-elements'>
			<div class='race-info'>
				<p ng-show="games.currentState=='racing' || games.currentState=='finished'" id='wpm-text'>{{games.myData.wpm}}</p>
				<p id='timer-text'>{{games.timerText}}</p>
			</div>

			<div id='paragraph' ng-bind-html="games.renderParagraph()">
			</div>

			<input focus-on-condition="!games.inputDisabled" id='typebox' ng-class="{'input-incorrect': games.incorrect}" ng-model='games.inputText' type='text' placeholder='Type here' ng-change="games.updateState()" ng-disabled='games.inputDisabled' ng-trim="false">
		</div>

	</div>

	<section>

<section>
