<input class='new-game-button btn btn-success' ng-click='games.newGame()' type='button' value='New Game' ng-hide='games.waitingToJoin || games.gameRunning'>

<form class='name-form' ng-submit='games.updateUsername()' ng-hide='games.loggedIn || games.gameRunning'>
	<input type='text' placeholder='Enter name' ng-model='games.tempName' ng-disabled='games.gameRunning'>
	<input class='btn btn-info btn-xs' type='submit' value='Update'>
</form>

<div class='loading' ng-show='games.waitingToJoin'>
	<p class='waiting-msg'>Waiting to join...</p>
	<img src='http://media.giphy.com/media/JBeu9q9LC1Kve/giphy.gif' style='width: 40px'>
</div>

<div class='race-elements' ng-hide='games.waitingToJoin'>

<div class="progress" style="width: 500px">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{games.myData.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{games.myData.percentage}}%">
    	{{games.myData.wpm}} WPM
    </div>
</div>
<p class='username'><strong>{{games.name}}</strong> <span class='position'>{{games.myData.position}}</span></p>

<ul ng-repeat='(id,data) in games.playerData'>
	<li>
		<div class="progress" style="width: 500px">
		    <div class="progress-bar" role="progressbar" aria-valuenow="{{data.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{data.percentage}}%">
		    	{{data.wpm}} WPM
		    </div>
		</div>
		<p class='username'>{{data.name}} <span class='position'>{{data.position}}</span></p>
	</li>
</ul>


<div class='race-info'>
	<p ng-show="games.currentState=='racing' || games.currentState=='finished'" id='wpm-text'>{{games.myData.wpm}} WPM</p>
	<p id='timer-text'>{{games.timerText}}</p>
</div>


<div id='paragraph' ng-bind-html="games.renderParagraph()">
</div>

<input focus-on-condition="!games.inputDisabled" id='typebox' ng-class="{'input-incorrect': games.incorrect}" ng-model='games.inputText' type='text' placeholder='Type here' ng-change="games.updateState()" ng-disabled='games.inputDisabled' ng-trim="false">

</div>
