<div id='home-title-container'>
	<img id='home-logo' class='noselect' src="images/logo.png"></img>
	<h2 id='home-title' class='noselect'>Hot Keys</h2>
</div>

<p id='home-tagline'>Put your fingers to the test</p>

<div id='home-bottom-container'>

	<p id='home-intro'>Join a room or create a new one</p>

	<form id='home-form' name='roomForm' ng-submit='nav.enterRoom()'>
		<input ng-model='nav.roomName' name='room' ng-minlength="5" ng-maxlength="30" reg-exp-require="/^[a-zA-Z0-9]{1,20}$/" type='text' id='room-input' placeholder="Enter room name (optional)" autocomplete="off">
		<input class='new-room-button grey-button' type='submit' value='Start playing' ng-click='nav.reloadPage()'>
	</form>

	<div id='home-messages' ng-messages="roomForm.room.$error" role="alert">
	    <div ng-message="minlength">Name too short</div>
	    <div ng-message="maxlength">Name too long</div>
	</div>

	<p id='home-signup-prompt'><a href='/register'>Sign up</a> for an account to track your scores</p>

</div>