<input ng-click='games.newGame()' type='button' value='New Game'>

<form ng-submit='games.updateUsername()'>
	<input type='text' placeholder='Enter name' ng-model='games.tempName' ng-disabled='games.gameRunning'>
	<input type='submit' value='Update'>
</form>

<p ng-show='games.waitingToJoin'>Waiting to join</p>


<p>{{games.name}}: {{games.myData.percentage}}%, {{games.myData.position}}</p>
<ul ng-repeat='(id,data) in games.playerData'>
	<li>
		<p>{{data.name}}: {{data.percentage}}%, {{data.position}}</p>
	</li>
</ul>

<div id='timer-container'>
	<p id='timer-text'>Timer: {{games.timerText}}</p>
</div>

<div id='wpm-container'>
	<p id='wpm-text'>WPM: {{games.wpm}}</p>
</div>


<div id='paragraph' ng-bind-html="games.renderParagraph()">
</div>


<input focus-on-condition="!games.inputDisabled" id='typebox' ng-class="{'input-incorrect': games.incorrect}" ng-model='games.inputText' type='text' placeholder='Type here' ng-change="games.updateState()" ng-disabled='games.inputDisabled' ng-trim="false">
