<section class='form-container' ng-hide="users.checkLoggedIn()" ng-controller='UsersController as users'>
  <h1 id='login-title'>Log In</h1>
  <form id="login-form" name="users.loginForm" ng-submit="users.login()" novalidate>
    <div class="alert alert-danger" role="alert" ng-show="(!!users.error && users.loginForm.$submitted)">{{ users.error }}</div>

    <div class="form-group">
      <input focus-on-condition="true" type="email" id="email" placeholder="Email" name="email" ng-model="users.user.email" required>
    </div>

    <div class="form-group">
      <input type="password" id="password" name="password"  placeholder="Password" ng-model="users.user.password" required>
    </div>

    <button id='login-button' class='grey-button' type="submit">LOG IN</button>
  </form>

  <p id='home-signup-prompt'>Don't have an account? Sign up <a href='/register'>here</a>.</p>
</section>
