<section ng-show="profile.checkLoggedIn()">
	<!-- <img ng-src="{{ users.user.local.image }}" style='width: 200px'> -->
	
	<div id='profile-info'>
		<h1 id='profile-username'>{{ profile.user.local.username}}</h1>
		<p id='profile-totalRaces'>RACES: <strong>{{ profile.user.totalRaces}}</strong></p>
		<p id='profile-avgwpm'>AVERAGE: <strong>{{ profile.user.averageWpm}} WPM</strong></p>
		<p id='profile-avgwpm'>BEST: <strong>{{ profile.user.bestWpm}} WPM</strong></p>
	</div>

    <div id='chart-container'>
    	<p id='chart-xAxisLabel'>WPM</p>
    	<canvas id="wpmChart" width="750px" height="400"></canvas>
   	</div>


</section>
