<section class='form-container' ng-hide="users.checkLoggedIn()" ng-controller='UsersController as users'>
  <h1 id='register-title'>Sign Up</h1>

  <form id="register-form" name="users.registerForm" ng-submit="users.register()" novalidate>
    <div class="alert alert-danger" role="alert" ng-show="(!!users.error && users.registerForm.$submitted)">{{ users.error }}</div>

    <div class="form-group">
      <input focus-on-condition="true" type="text" id="username" placeholder="Username" ng-model="users.user.username">
    </div>

    <div class="form-group">
      <input type="email" id="email" placeholder="Email" name="email" ng-model="users.user.email" required>
    </div>

    <div class="alert alert-danger" role="alert" ng-messages="users.registerForm['email'].$error" ng-show="(users.registerForm.$submitted && users.registerForm['email'].$invalid)">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <!-- <span ng-message="required">Email is required.</span> -->
      <span ng-show="users.registerForm['email'].$invalid">Invalid email</span>
    </div>

    <div class="form-group">
      <input type="password" id="password" name="password" placeholder="Password" ng-model="users.user.password" required>
    </div>

    <div class="alert alert-danger" role="alert" ng-messages="users.registerForm['password'].$error" ng-show="(users.registerForm.$submitted && users.registerForm['password'].$invalid)">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <span ng-message="required">Password is required.</span>
    </div>

    <button id='register-button' class='grey-button' type="submit">SIGN UP</button>
  </form>
</section>
