<section ng-controller='UsersController as users'>
  <ul class="media-list">
    <li class="media" ng-repeat="user in users.all">
      <div class="media-left">
        <a href="#" ui-sref="profile">
          <img class="media-object" ng-src="{{ user.local.image }}">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ user.local.username }}</h4>
        <p>{{ user.local.email }}</p>
        <input ng-click="users.deleteUser(user)" class="btn btn-danger btn-xs" type="button" value="Delete">
      </div>
    </li>
  </ul>
</section>
